@tailwind base;
@tailwind components;
@tailwind utilities;

/* body {
	background: white;
	font-family: Questrial, SF Pro Display, SF Pro Icons, Helvetica Neue,
		Helvetica, Arial, sans-serif;
	line-height: 1.1;
	letter-spacing: 0em;
*/

@font-face {
  font-family: 'Roboto-Regular';
  src: url('../../public/assets/fonts/Roboto-Regular.ttf');
}

@layer base {
  body {
    /* @apply max-w-2xl mx-auto px-4; */
    font-family: Roboto-Regular, Questrial, SF Pro Display, SF Pro Icons,
      Helvetica Neue, Helvetica, Arial, sans-serif;
    @apply dark:bg-black dark:text-gray-100 bg-gray-50 text-gray-900;
  }
}
